.conteinerTitle{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 20px 0px;
    gap: 25px;
}

.cardCategory {
    width: 368px;
    height: 518px;
    margin-bottom: 25px;
    background-color: rgb(229, 229, 229);
}

.cardCategory img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.cardCategory h3 {
    margin: 10px;
}

button {
    width: 194px;
    height: 50px;
    border: solid 1px black;
    border-radius: none;
    font-size: 16px;
}