.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;   
}

.conteiner p, .conteiner a{
    color: white;
}

header {
    max-width: 100vw;
    height: 60px;
    background-color: rgba(13, 13, 13, 1);
    margin-bottom: 1px; 
}