.rectangule6{
    width: 1400px;
    height: 216px;
    text-align: left;
    background-color: #0D0D0D;
    padding: 0px 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textBox{
    width: 476px;
    height: 78px;
    /* text-align: left; */
}

h1 {
    font-size: 36px;
}

.rectangule6 h1, .rectangule6 p {
    color: white;
    margin: 0px 0px;
}

.blexBox{
    display: flex;
}


.filtersBox{
    width: 425px;
    height: auto;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 835px;
}

.cardProducList {
    height: 331px;
    width: 265px;
    text-align: left;
}

.cardProducList img {
    height: 265px;
    width: 100%;
    object-fit: cover;
}

.cardProducList p,.cardProducList h3 {
    font-family: 'Public Sans', sans-serif;
    margin: 1px;
    font-size: 17px;
}

.cardProducList h3 {
    font-weight: 700;
}

.cardProducList p {
    font-weight: 400;
}
