
ul{
  padding-left: 0px;
  margin-top: 0px;
}

.NavOptions ul, .NavCartLog ul{
  display: flex;
  align-items: center;
  gap: 32px;
}

.NavOptions li, .NavCartLog li{
  margin: 0px ;
  list-style: none;
}