.boxScreen{
    width: 100vw;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}
.boxScreen h1{
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -1.5px;
}

.boxFlex{
    display: flex;
}